:root{
    --bg: #FBFCFD;
    --pri: #3D37F1;
    --sec: #534D4D;
    --head-button: #FF8923;
}

body{
    font-family: 'Lato',
    sans-serif;
}

nav .navbar-brand img{
    height: 34px!important;
}

nav .nav-link{
    /* color: white!important; */
    font-weight: 600;
    font-size: 1rem!important;
    margin: 0 .7rem!important;
}
button.nav-link{
    padding: .8rem 3rem!important;
    border-radius: 3rem;
    border: none;
    background: var(--head-button);
    color: white!important;
}